.container

  %h2 The American Institution Syndicate is a fund for protecting institutions.

  Why?
  %ul 
    %li
      Many people want protect American institutions but don’t know where to donate. Subject matter experts have ideas about where to donate, but lack access to funds. AIL brings these two groups together.
    %li
      Charities are more likely to engage in depth with one decision-maker who represents a large pool than many. By keeping the syndicate private and thoughtful, we can 
