.container-fluid
  .row-fluid-top
    .centering.text-center
      #title
        %h1 
          %span American 
          %span.lightblue Donor 
          %span Syndicate
      %br
    .row#nav.centering.text-center
      .col-xs-12
        #subtitle
          Protecting U.S. institutions against executive branch overreach
        #sub-nav.centering.text-center
          .wrapper
            %ul
              %li 
                %a Home
              %li.lightblue /
              %li 
                %a Free Press Fund
              %li.lightblue /
              %li 
                %a Law Fund
              %li.lightblue /
              %li
                %a FAQ

    .row
      .qa
        .question
          Are my donations tax-deductible?
        .answer
          Yes.

      .qa
        .question
          What is the legal structure of the fund?
        .answer
          ADS is a Donor-Advised Fund. This means that all donations received must be granted to 501(c)3 charitable organizations. The fund is run by Fidelity Charitable, the largest donor-advised fund in the U.S.

      .qa
        .question
          Can I donate stock?
        .answer
          Yes, including private stock. You can also donate other types of assets: see the Fidelity Charitable Giving Account Policy Guidelines for details. In most cases, donating appreciated assets will give you a double tax advantage, as you won’t owe capital gains tax.

      .qa
        .question
          Are there any fees associated with donating to the fund?
        .answer
          There are no fees on cash donations. There may be some fees associated with donating other assets; see here for more details.
          %br
          %br
          The Fund Managers, administrators, and Research Assistants of ADS all donate their time for free, and any other expenses incurred by the fund are covered personally by the administrators.
          %br
          %br
          Fidelity Charitable charges an annualized fee of 0.6% of funds under management for administering the fund. All funds in ADS are invested in the Total Market Index Pool, which aims to match the U.S. stock market, has an associated 0.015% annual fee.

      .qa
        .question
          Who is responsible for grantmaking decisions?
        .answer
          Grantmaking decisions are at the sole discretion of the subject matter expert (Fund Manager).

      .qa
        .question
          Why pool resources into one fund with one decision-maker?
        .answer
          The fund is designed for people who don’t have enough time or relevant background knowledge to investigate donation opportunities themselves. Most people in this camp won’t be donating enough to hire their own donation advisors, so this is a way to access one for free. Pooling resources also means that potential grantees are more likely to take the group seriously, and answer more detailed questions to a group’s representative (in this case the Fund Managers) - including how much room for more funding the charity has.

      .qa
        .question
          What if there’s a great place to donate that doesn’t have 501(c)3 status?
        .answer
          In cases where an organization is too young to have 501(c)3 status, we will try to find sister organisations with 501(c)3 status that can act as a recipient and sponsor the project (we expect this to be relatively common). In cases where the organization is a politically active 501(c)4, our fund managers may decide to mobilize the donor community, but this will not be through ADS or through their role at ADS.

      .qa
        .question
          Can I donate to more than one fund within ADS?
        .answer
          Yes: please make your donation preferences clear on the donor form.

      .qa
        .question
          I like the look of multiple funds. Can you choose how to allocate donations between them for me?
        .answer
          Any general funds will be allocated in proportion to how other donors have earmarked their donations. For example, if Free Press has received $100,000 of donations, and Judicial has received $50,000, a general donation will be allocated ⅔ to Free Press and ⅓ to Judicial.

      .qa
        .question
          How are grants made?
        .answer
          Donations ideas are sourced; the fund manager decides to donate; the Account Holders of The American Donor Syndicate Fund (Jacob Trefethen and Ethan Barhydt) relay grant-making decision to Fidelity Charitable, who execute the grant, usually on the same day.

      .qa
        .question
          How often are grants made?
        .answer
          Timing of grants is at the discretion of the fund manager, whenever they see the best opportunities. The intention is for funds to to be dispersed relatively quickly, given the speed at which the administration is moving.

      .qa
        .question
          How do I know where my donations went?
        .answer
          Every month the fund manager will send a monthly update of where they made grants, including any updates on how the fund is performing.

      .qa
        .question
          Can I suggest organizations/projects to fund?
        .answer
          Please do. Send recommendations and ideas to jacob@pie.video.

      .qa
        .question
          Why don’t I just donate directly to charities?
        .answer
          If you have high conviction around a particular charity, please do! This is fund is for people who want others to do the research behind charity selection.

      .qa
        .question
          Can I donate if I am not a U.S. taxpayer?
        .answer
          No: we only accept donations from U.S. taxpayers. Feel free to support our portfolio organizations directly.
