.container
  .row
    %h2.col-xs-6
      American Donor Syndicate
    %h5.col-xs-8
      A donor syndicate to protect the institutions of U.S. democracy against executive branch overreach.
  %hr

  #wrapper
    .syndicates 
      %h3 Funds
      .row.syndicate
        .col-xs-8
          %h4 Free the press
          Do this..
          = link_to "fund", syndicate_path(1)
      %br
      .row.syndicate
        .col-xs-8
          %h4 Protect the law
          Do this..

    %hr
    .portfolio
      %h3 Portfolio
      .row
        .col-xs-4
          %h5 Environmental Data and Governance Initiative
          back up science data under threat
        .col-xs-4
          %ul
            %li
              %h5 Environmental Data and Governance Initiative
              back up science data under threat
        .col-xs-4
          %h5 Environmental Data and Governance Initiative
          back up science data under threat
          .small founded 2006
    %hr
    Get in touch