#wrapper
  #header-wrapper
    .centering.text-center
      #title
        %h1 
          %span American 
          %span Donor 
          %span Syndicate
      %br
    .row#nav.centering.text-center
      .col-xs-12
        #subtitle
          Protecting U.S. institutions against executive branch overreach
        #sub-nav.centering.text-center
          .wrapper
            %ul
              %li 
                %a Home
              %li.lightblue /
              %li 
                %a.lightblue Free Press Fund
              %li.lightblue /
              %li 
                %a Law Fund
              %li.lightblue /
              %li
                %a FAQ





   
  .large.text-center.mandate
    This fund invests in organizations/projects that defend the free press against threats from an openly hostile administration, and that embolden journalists to cover stories that matter, without fear of repercussions.
  #sub-nav.centering.text-center.fund-details
    .wrapper
      %ul
        %li 
          Fund size: $100,000.00
        %li.lightblue /
        %li 
          Minimum donation: $5,000.00
        %li.lightblue /
        %li 
          Tax-deductible
        %li.lightblue /
        %li Accepts stock
  .invest.text-center.centering 
    .btn.btn-primary.btn-red
      Contribute to the fund


  #section
    #fund-title.centering.text-center
      Portfolio
    .centering
      %div Coming soon...
      %div
        = link_to "Monthly portfolio updates", '#'
  #section
    #fund-title.centering.text-center
      Fund Manager
    .centering
      = image_tag('https://ethicsinsociety.stanford.edu/sites/default/files/barbara_fried.jpg', width: 200, height: 229)
      .name 
        Barbara Lastname
      .position
        Fund Manager

      .summary
        Professor Barbara Fried. Prof Fried is the William W. and Gertrude H. Saunders Professor of Law at Stanford. She has written extensively on questions of distributive justice within tax policy, property theory, and political theory, and serves on the Board of Advisors for the Stanford Ethics in Society Program.

  