.container
  .row
    %h2.col-xs-6
      American Donors Syndicate
    %h5.col-xs-8
      AIF is a donor syndicate that funds the highest impact projects to bolster the strength of institutions that act as checks and balances on the Executive Office. The syndicate is open to donors of all political affiliations.
  %hr
  %span.small.fund-tag Fund
  %h3
    ="Free the press"
  %h5= "Fund projects that protect the free press in interesting, time-sensitive ways."


  
  .row
    .col-xs-6
      / %h4 Fund History
      / %table.table.table-bordered
      /   %thead
      /     %th Date
      /     %th Org/Project
      /     %th Amount
      /     %th Updates
      /   %tr
      /     %td
      /       Jan 2017
      /     %td EDGI
      /     %td $10,000.00
      /     %td= link_to "pdf", '#'
      /   %tr
      /     %td
      /       Jan 2017
      /     %td EDGI
      /     %td $10,000.00
      /     %td= link_to "pdf", '#'
      .fund-manager
        .fund-manager-pic.float-left
          = image_tag('https://ethicsinsociety.stanford.edu/sites/default/files/barbara_fried.jpg', class: 'circle', height: 100, width: 100)
        .fund-manager-cred
          .name
            %b Barbara Fried
            %div
              %i Professor, Stanford Law
          .title Fund manager, Free the press
        %p.clear-both.fund-manager-bio
          Professor Barbara Fried. Prof Fried is the William W. and Gertrude H. Saunders Professor of Law at Stanford. She has written extensively on questions of distributive justice about tax policy, property theory, and political theory, and is a member of the Board of Advisors for the Stanford Ethics in Society Program.

        %p 
          Prof Fried holds a BA, MA in English and American Literature, and JD from Harvard University.

    .col-xs-2
    .col-xs-4
      %h4 Invest in Free the press
      Minimum investment: $5,000.00
      %br
      Tax-deductable
      %br
      Biweekly portfolio performance updates
      .hot-container
        %a.btn.btn-blue{:href => "#"} Invest

  %hr
  .row
    %h3 Portfolio | Free the press
    = "coming soon..."


      
